/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgb(163, 147, 206);
    color: white;
}
.principal{
    height: 8rem;
    margin: 0 4.5rem;
    border-radius: .25rem; 
    padding : 1rem;
}

.content{
    margin-top : 1rem;
}

.music {
    .card, .pagination {
        margin-top: 0.5rem;
    }
    .btn{ display: inline-block;  margin: 0 0.6rem; }
}
.glyph-icon {
   height: .75rem;
   display: inline-block; margin:0.25rem;
}

.container-fuild {
    color: black;
}

.bg-light {
    color: black;
}
